[Unit]
Description=Yumrepo HTTP Server (Python http.server)
After=network.target

[Service]
WorkingDirectory=/home/hansel/ssd/syncthing/ITProject/YummyRepo/packages
ExecStart=/home/hansel/.local/bin/uv run -m http.server 8888
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
